.input {
    width: 150px;
    height: 44px;
    font-size: 26px;
    padding: 6px 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
}

.error {
    background: #ffb2b2;
    border-color: #ff4050;
}
