.panel {
    width: 380px;
    border: 2px solid #39d0ff;
    border-radius: 16px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.box {
    border: 2px solid #39d0ff;
    border-radius: 16px;
    padding: 18px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.row:last-child {
    margin-bottom: 0;
}

.label {
    color: #39d0ff;
    font-size: 28px;
    font-weight: 700;
}

.boxBottom {
    border: 2px solid #39d0ff;
    border-radius: 16px;
    padding: 22px;
    display: flex;
    justify-content: center;
}
